nav {

    background-color: orange;
    border: 5px solid green;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }

    li {
        flex: 1;
    }

    a {
        text-decoration: none;
        text-align: center;
        line-height: 42px;
        color: black;
        display: block;
        &.active {
            background-color: green;
            color: white;
        }
        &:hover,
        &:focus,
        &:active {
            background-color:rgba(white, 0.3);
        }

        
    }

}